.heading {
  background-color: $brand-primary;
  border: 0;
  height: 5px;
  margin-bottom: 30px;
  width: 150px;
}

.media {
  margin-bottom: 20px;

  &-object {
    height: 42px;
    width: 42px;
  }

  @media (max-width: $screen-sm-min) {
    border: 1px solid #D4D0D6;
    padding: 20px;

    &-body {
      vertical-align: middle;

      h4 {
        margin-bottom: 0;
      }
    }
  }
}
