<div class="col-xs-12 col-sm-4">

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="http://www.unhrd.org/web_test/sites/all/themes/unhrdnew/images/services/stock.svg" alt="Stock Report">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Stock Report</h4>
      <p class="hidden-xs">Interactive tool for assessing stock levels by partner organization and location.</p>
      <a href="/page/real-time-stock-report" class="hidden-xs">Visit page</a>
    </div>
  </div>

</div>
