<% include _partials/_head %>
<body>
  <!-- header -->
  <header class="header has-bg">
    <% include _partials/_navbar %>

    <div class="container header-content">
      <div class="col-xs-12 col-md-6">
        <h1 class="text-white">Supporting emergency efforts for the humanitarian community</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec nibh vitae erat efficitur faucibus. Duis tincidunt, ex in mattis viverra.</p>
      </div>

      <div class="col-xs-12 col-md-6">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Lkes0VHK6Iw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </header>

  <!-- learn more -->
  <div class="unhrd-separator">
    <a href="#" class="unhrd-separator-item primary"><h3>Learn more about UNHRD</h3></a>

    <a href="#" class="unhrd-separator-item dark"><h3>Partner with us</h3></a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="project-status-wrapper">
          <div class="project-status-step active">Ideation</div>
          <div class="project-status-step active">Development</div>
          <div class="project-status-step active">Prototype</div>
          <div class="project-status-step active">Pilot</div>
          <div class="project-status-step">Scale Up</div>
        </div>
      </div>
    </div>
  </div>


  <% include _partials/_footer %>
